[submodule ".dev/submodules/less.js"]
	path = .dev/submodules/less.js
	url = git://github.com/cloudhead/less.js.git
[submodule ".dev/submodules/bootstrap"]
	path = .dev/submodules/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule ".dev/submodules/pelican"]
	path = .dev/submodules/pelican
	url = git://github.com/bbinet/pelican.git
[submodule ".dev/submodules/galleria"]
	path = .dev/submodules/galleria
	url = git://github.com/aino/galleria.git
[submodule ".dev/submodules/UglifyJS"]
	path = .dev/submodules/UglifyJS
	url = git://github.com/mishoo/UglifyJS.git
[submodule ".dev/submodules/python-markdown-video"]
	path = .dev/submodules/python-markdown-video
	url = git://github.com/Alquimista/python-markdown-video.git
